/* General Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e4d8a;
  color: white;
  transition: width 0.3s ease, transform 0.3s ease;
  overflow: hidden;
}

.sidebar.open {
  width: 250px;
}

.sidebar.collapsed {
  width: 70px;
}

/* Sidebar Header */
.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1e4d8a;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggleButton {
  display: none;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu Items */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin: 10px 0;
}

.menuItemContent {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
  white-space: nowrap;
}

.menuItemContent:hover {
  background-color: #0056b3;
}

.icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

/* Submenu */
.subMenu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
  display: none;
}

.subMenu.open {
  display: block;
}

.subMenuItem a {
  display: block;
  padding: 5px 20px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.subMenuItem a:hover {
  background-color: #0056b3;
}

/* Logout Button */
.logoutButtonWrapper {
  margin-top: auto;
  padding: 10px 20px;
}

.logoutButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #1e4d8a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.logoutButton:hover {
  background-color: #6c757d;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .toggleButton {
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }


  .menuItemContent,
  .subMenu {
    display: none;
  }

  .sidebar.open .menuItemContent,
  .sidebar.open .subMenu {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: fixed;
    z-index: 1000;
    width: 250px;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .toggleButton {
    font-size: 1.8rem;
  }
}